

.navbar {
    overflow: hidden;
    background-color: darkgrey;
    position: fixed;
    top: 0;
    width: 100%;
}
.center {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.right {
    display: flex;
    width: 90%;
    justify-content: right;
    margin: auto;
    text-align: center;
}
.left {
    display: flex;
    width: 90%;
    justify-content: left;
    margin: auto;
    text-align: center;
}

#map-id {
    height: 180px;
}